<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #373737;    padding: 0px;margin-bottom: 20px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">

      <ul class="navbar-nav">
        <li class="nav-item ">
          <a routerLinkActive="active"  class="nav-link text-white" [routerLink]="['/home/', 'top']" >Top games</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link  text-white" [routerLink]="['/home/', 'new']"  >New Games</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link text-white"
            [routerLink]="['/home/', 'slots']">Slots</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link text-white" [routerLink]="['/home/', 'jackpots']">Jackpots</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link text-white" [routerLink]="['/home/', 'live']">Live</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link text-white" [routerLink]="['/home/', 'blackjack']">Blackjack</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link text-white" [routerLink]="['/home/', 'roulette']">Roulette</a>
        </li>
        <li class="nav-item text-white">
          <a routerLinkActive="active" class="nav-link text-white" [routerLink]="['/home/', 'table']">Table</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link text-white" [routerLink]="['/home/', 'poker']">Poker</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link text-white" [routerLink]="['/home/', 'bal','virtual','fun']">Other</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
