<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div *ngFor="let tp of listTypes " class="col-md-3 mb-3 w-20">
      <div class="container">
        <div class="card-container text-center "   >
          <div  #ribbon class="{{'ribbon_'+ tp.id }} ">
          </div>
          <div  #divMessages class="{{ tp.id }} "></div>
          <img   class="rounded mx-auto d-block" src="{{tp.image}}" alt="Card image" style="width:100%;border-radius: 400px;">
          <div>
            <div class="overlay text-center">
              <div class="text">{{tp.name}}</div>
              <button style='z-index:3' class="btn btn-primary">PLAY</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
