.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 28px;
  right: 0;
  height: 100%;
  width: 75%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
  border-radius: 5px;
}

.card-container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .w-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20% !important;
    flex: 0 0 20% !important;
    max-width: 20%;
  }
}


